@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "BrittanySignature";
  src: local("BrittanySignature"),
    url("../fonts/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
